*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 100vw;
    max-height: 100vh;
}
main{
    max-width: 50rem;
    background-color:  rgba(158, 79, 232, 0.76);
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-auto-rows: 120px;
}

header{
    grid-column: 1/7;
    grid-row: 1/4;
    background-color: rgba(246, 166, 19, 0.913);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-wrap: wrap;
}

header aside{
    height: 23rem;
    width: 25rem;
    align-self: flex-start;
    background-color: rgb(193, 245, 228);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header aside p{
    width: 268px;
}
span{
    color: antiquewhite;
}
.left-button{
    background-color: antiquewhite;
    height: 5vh;
    width: 10vw;
    border-radius: 3rem;
    align-self: flex-start;
    margin-top: 2rem;
    margin-left: 3rem;
}
.family{
   width: 15rem;
   height: 16rem;
   align-self: flex-end;
}


header section{
    width: 25rem;
    height: 13rem;
    background-color: rgb(254, 102, 37);
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
header section h2{
    color: antiquewhite;
}


header article{
    width: 25rem;
    height: 9rem;
    background-color: rgba(246, 166, 19, 0.913);
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
header article h2{
    color: antiquewhite;
}

nav{
    background-color: aliceblue;
    grid-column: 1/7;
    grid-row: 4/4;
    display: flex;
    justify-content: space-around;
    height: 5vh;
}

.mid-top{
    background-color: rgba(158, 79, 232, 0.76);
    grid-column: 1/7;
    grid-row: 4/7;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.mid-top h2{
    color: antiquewhite;
    font-family: Frank Ruhl Libre;
    font-size: 25px;
    font-weight: 900;
    line-height: 45px;
    letter-spacing: -0.02em;
    text-align: left;
    margin-right: auto;
}
.mid-top p{
    width: 200px;
    height: 100px;
    align-self: flex-end;
    margin-right: 3rem;
    margin-bottom: 3rem;

}
.mid-button{
    height: 5vh;
    width: 10vw;
    border-radius: 3rem;
    margin-bottom: auto;
    margin-left: 3rem;
}

.child{
    grid-column: 2/3;
    grid-row: 6/8;
    width: 6rem;
    height: 8rem;
    margin-left: auto;
}
.adult{
    grid-column: 4/5;
    grid-row: 6/8;
    width: 5rem;
    height: 14rem;
}
.old{
    grid-column: 5/6;
    grid-row: 6/8;
    width: 6rem;
    height: 15rem;
    margin-left: auto;
}
.mid-bottom{
    background-color: rgb(215, 149, 27);
    grid-column: 1/7;
    grid-row: 7/10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mid-bottom h2{
    color: antiquewhite;
}
.mid-bottom p{
    width: 442px;
    height: 280px;
    font-family: Fira Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;

}

.calendar{
    background-color: antiquewhite;
    grid-column: 1/7;
    grid-row: 10/13;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;   
}
.calendar >*{
    width: 16rem;
    height: 12rem;
    border: solid 1px black;
}
footer{
    background-color: rgb(100, 98, 98);
    grid-column: 1/7;
    grid-row: 13/15;
}
footer button{
    color: antiquewhite;
    background-color: grey;
    width: 50rem;
}